data/interim/*
data/processed/*
data/raw/*
!data/interim/README.md
!data/processed/README.md
!data/raw/README.md
**/__pycache__/
**/runs/
src/trainer.py
src/tusz_utilities.py
src/metrics.py
src/training_example.ipynb